.animated-border {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    animation: animateBorder 5s infinite linear;
    border: 2px solid #000; /* Cor inicial da borda */
}

@keyframes animateBorder {
    0% {
        border-color: rgb(255, 0, 0); /* Vermelho */
    }
    25% {
        border-color: rgb(0, 255, 0); /* Verde */
    }
    50% {
        border-color: rgb(0, 0, 255); /* Azul */
    }
    75% {
        border-color: rgb(255, 255, 0); /* Amarelo */
    }
    100% {
        border-color: rgb(255, 0, 255); /* Magenta */
    }
}