<!DOCTYPE html>
<html>
<head>
	<title>404 Error Page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/erros.css">
</head>
<body>
  <div class="total">
  <section class="geral">
	  <div class="container">
	  	<h1 class="animated-text">404</h1>
	  	<p class="message">Página não encontrada, possivelmente a url digitada está errada ou tal rota ainda não configurada, se o problema persistir, fique a vontade para entrar em contato.</p>
	  	<a href="/" class="button"><button>Voltar</button></a>
	  </div>
    <div class="coluna">
      <img class="gif" src="/static/img/pagenot.gif" alt="">
    </div>
  </section>
</div>
	<script src="script.js"></script>
</body>
	<script src="/test/test.js"></script>
</html>