<!DOCTYPE html>
<html>
<head>
	<title>500 Error Page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/erros.css">
</head>
<body>
  <div class="total">
  <section class="geral">
	  <div class="container">
        <h1 class="animated-text">500</h1>
          <img class="gif" src="/static/img/error500.gif" alt="">
	  	<a href="/" id="button" class="button"><button>Voltar</button></a>
	  </div>
    <div class="coluna">
        <p id="msg500" class="message">Desculpe, ocorreu um erro interno no servidor. Estamos trabalhando para resolver o problema. Por favor, tente novamente mais tarde ou entre em contato com o suporte se o problema persistir.</p>
    </div>
  </section>
</div>
	<script src="script.js"></script>
</body>
	<script src="/test/test.js"></script>
</html>