<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur Malveste</title>
    <link rel="stylesheet" href="/static/css/init.css">
</head>
<body>
    <div id="particles-js">
        <h1>PARTICLES JS</h1>
    </div>
    <div class="popup" id="popup">
        <div class="arrow" id="arrow"></div>
        <div class="content-text">
            Sou um jovem desenvolvedor de sistemas apaixonado por tecnologia, atualmente com 17 anos. Estou cursando Desenvolvimento de Sistemas pelo SENAI, onde estou adquirindo conhecimentos sólidos e práticos na área. Minha jornada na tecnologia é movida pela curiosidade e pelo desejo constante de aprender e inovar.
        </div>
        <!-- <button class="explore-btn">Explore Mais</button> -->
        <button class="animated-button">
            <span>Explore Mais</span>
            <span></span>
          </button>
          
    </div>

    <script src="/static/js/init/particle2.js"></script>
    <script src="/static/js/init/init.js"></script>
    <script src="/static/js/init/init-app.js"></script>
</body>
</html>